<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midoconline.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MiDocOnlineApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>

        <activity
            android:name=".ui.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.activities.SignInActivity"
            android:label="@string/title_activity_sign_in_activiity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".ui.activities.AskForRegistration"
            android:label="@string/title_activity_ask_for_registration" >
        </activity>
        <activity
            android:name=".ui.activities.AnswerEmeregencyCallScreen"
            android:label="@string/title_activity_answer_emeregency_call_screen" >
        </activity>
        <activity
            android:name=".ui.activities.MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name=".ui.activities.DoctorHistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".ui.activities.HistoryChatActivity"
            android:label="@string/title_activity_history_chat" >
        </activity>

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/facebook_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activities.TermsAndConditionActivity"
            android:label="@string/title_activity_terms_and_condition" >
        </activity>
        <activity
            android:name=".ui.activities.PaymentOptionActivity"
            android:label="@string/title_activity_payment_option" >
        </activity>
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".ui.activities.PaymentSignupActivity"
            android:label="@string/title_activity_payment_signup" >
        </activity>
        <activity
            android:name=".ui.activities.OpponentsActivity"
            android:label="@string/title_activity_live_video_chat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activities.CallActivity"
            android:allowTaskReparenting="true"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_live_video_chat"
            android:screenOrientation="portrait"
            android:taskAffinity="com.midoconline.app" >
        </activity>

        <service android:name=".services.IncomeCallListenerService" >
        </service>

        <receiver
            android:name=".services.AutoStartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.DoctorCallActivity"
            android:label="@string/title_activity_doctor_call" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="739d74db64e52dd95e3ee8d463daac8d8169c16c" />
    </application>

</manifest>
